# Скомпилированные файлы (бинарники)
*.exe
*.out
*.app
*.so
*.dll
*.dylib

# CUDA и Объектные файлы
*.o
*.obj
*.cu.o
*.lib
*.a

# Python и PyTorch
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
*.pt
*.pth

# Сборка (CMake / VS)
build/
bin/
out/
.vs/
.vscode/
CMakeSettings.json

# Логи и временные файлы
*.log
*.tmp
.DS_Store
